{% extends "base.html" %}

{% block meta %}
    <title>数据录入</title>
{% endblock %}

{% block head %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}vendor/datepicker/daterangepicker-bs3.css"/>
{% endblock %}


{% block content %}
    <div class="container bs-docs-container top-container">

    <div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="row report_section">
            <!-- Button trigger modal -->
            <div class="col-md-6 col-sm-6">
                <label for="part-no">Part No.</label>
                <input type="text" id="part-no" name="part-no" readonly='true'>
                <button class="btn btn-info btn-sm" id="products">请选择货物
                </button>

            </div>
            <div class="col-md-6 col-sm-6 align_text_right">
                 <label for="date">日期</label>
                 <input type="text" id="date" name="date" readonly='true'>
            </div>
        </div>
        <div class="row dashboard_section_content">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div>
                    <p class="section_title">Item Return</p>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="header">
                            <th>#</th>
                            <th>Item</th>
                            <th>Amount</th>
                            <th>Operations</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>#</td>
                            <td>10</td>
                            <td>20</td>
                            <td><a href="">Add</a>&nbsp;&nbsp;<a href="">Update</a>&nbsp;&nbsp;<a href="">Delete</a> </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row dashboard_section_content">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div>
                    <p class="section_title">Item Delivered</p>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="header">
                            <th>#</th>
                            <th>Item</th>
                            <th>Amount</th>
                            <th>Operations</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>#</td>
                            <td>10</td>
                            <td>20</td>
                            <td><a href="">Add</a>&nbsp;&nbsp;<a href="">Update</a>&nbsp;&nbsp;<a href="">Delete</a> </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row dashboard_section_content">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div>
                    <p class="section_title">Item Usage</p>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="header">
                            <th>#</th>
                            <th>Item</th>
                            <th>Amount</th>
                            <th>Operations</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>#</td>
                            <td>10</td>
                            <td>20</td>
                            <td><a href="">Add</a>&nbsp;&nbsp;<a href="">Update</a>&nbsp;&nbsp;<a href="">Delete</a> </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>


       <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">货物列表</h4>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button id="save-modal" type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
          </div>
        </div>
      </div>
    </div>



{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}angular/app/lib/angular.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}angular/app/js/app.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}angular/app/js/controller.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}angular/app/js/services.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}vendor/datepicker/moment.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/datepicker/daterangepicker.js"></script>

    <script>
    $(document).ready(function () {
        $("#date" ).datepicker({maxDate: "+1D" });

        $('#part-no').click(function(){
            $('.modal-body').load('/products/',function(result){
                $('#myModal').modal({show:true});
            });
        });

        var modal = $('#myModal');

        // Filter clicks within the modal to those on the save button (#submit-modal)
        modal.on('click', '#save-modal', function(e) {

            $(".selected").each(function(index, value) {
                var part_no = $(this).find(".part-no").text();
                console.log(part_no);
                if (part_no.length) $('#part-no').val(part_no);
            });

        });

    });



    </script>

{% endblock %}
