{% extends "base.html" %}
{% load mathfilters %}
{% load append_to_get %}

{% block meta %}
    <title>使用情况</title>
{% endblock %}

{% block head %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}vendor/datepicker/daterangepicker-bs3.css"/>
{% endblock %}

{% block angular %}
    ng-app="Order" ng-controller="controller" ng-init="init()"
{% endblock %}



{% block content %}
    <div class="container bs-docs-container">
        <div class="search-box" >
           <a href="{{ request.path }}">最近三个月情况</a>
           <a href="{{ request.path }}?dimension=month">按月查询</a>
           <a href="{{ request.path }}?dimension=day">按日查询</a>
        </div>
     {% if daily_list %}
        <div class="search-box">
            <label for="from">起始日期</label>
            <input type="text" id="from" name="from" readonly='true'>
            <label for="to">终止日期</label>
            <input type="text" id="to" name="to" readonly='true'>
            <span class="alignment-right">
                <label for="part-no">Part No</label>
                <input type="text" id="part-no" name="part-no" readonly="true">
                <button class="btn btn-info btn-sm" id="query">查询</button>
                <button class="btn btn-info btn-sm" id="print">下载</button>
            </span>
        </div>
        <table class="table table-hover">

        <tr>
            <th>时间</th>
            <th>Part No</th>
            <th>Size</th>
            <th>DI标准</th>
            <th>Lot No</th>
            <th>数量</th>
        </tr>
        {% for usage in daily_list %}
        <tr>
            <td>{{ usage.date | date:"Y年m月d日"}}</td>
            <td>{{ usage.OTItem.part_no}}</td>
            <td>{{ usage.OTItem.size}}</td>
            <td>{{ usage.OTItem.di_standard}}</td>
            <td>{{ usage.lot_no}}</td>
            <td>{{ usage.amount | abs }}</td>
        </tr>
        {% endfor %}
        </table>
        <div class="pagination pagination-alignment-right">
              <span class="step-links">
             {% if daily_list.has_previous %}
             <a href="{% append_to_get page=daily_list.previous_page_number %}">previous</a>
             {% endif %}

             <span class="current">
                Page {{ daily_list.number }} of {{ daily_list.paginator.num_pages }}.
             </span>

            {% if daily_list.has_next %}
            <a href="{% append_to_get page=daily_list.next_page_number %}">next</a>
            {% endif %}
            </span>
        </div>
     {% endif %}

      {% if monthly_list %}
        <div class="search-box">
            <label for="from">起始日期</label>
            <input type="text" id="from" name="from" readonly='true'>
            <label for="to">终止日期</label>
            <input type="text" id="to" name="to" readonly='true'>
            <span class="alignment-right">
            <label for="part-no">Part No</label>
               <input type="text" id="part-no" name="part-no" readonly="true">
               <button class="btn btn-info btn-sm" id="query">查询</button>
               <button class="btn btn-info btn-sm" id="print" onclick="">下载</button>
            </span>

        </div>
        <table class="table table-hover">
        <tr>
            <th>使用月份</th>
            <th>Part No</th>
            <th>Size</th>
            <th>DI标准</th>
            <th>使用数量</th>
        </tr>
        {% for usage in monthly_list %}
        <tr>
            <td>{{ usage.date | date:"Y年m月"}}</td>
            <td>{{ usage.OTItem.part_no}}</td>
            <td>{{ usage.OTItem.size}}</td>
            <td>{{ usage.OTItem.di_standard}}</td>
            <td>{{ usage.amount | abs }}</td>
        </tr>
        {% endfor %}
        </table>
        <div class="pagination pagination-alignment-right">
             <span class="step-links">
             {% if monthly_list.has_previous %}
             <a href="{% append_to_get page=monthly_list.previous_page_number %}">previous</a>
             {% endif %}

             <span class="current">
                Page {{ monthly_list.number }} of {{ monthly_list.paginator.num_pages }}.
             </span>

            {% if monthly_list.has_next %}
            <a href="{% append_to_get page=monthly_list.next_page_number %}">next</a>
            {% endif %}
            </span>
        </div>
     {% endif %}

     {% if summary_list %}
        <div class="search-box">
            <button class="btn btn-info btn-sm" id="print">下载</button>
        </div>
        <table class="table table-hover">
        <tr>
            <th>Part No</th>
            <th>Size</th>
            <th>DI标准</th>
            <th>{{third_month}}</th>
            <th>{{second_month}}</th>
            <th>{{current_month}}</th>
        </tr>
        {% for usage in summary_list %}
        <tr>
            <td>{{ usage.part_no}}</td>
            <td>{{ usage.size}}</td>
            <td>{{ usage.di_standard}}</td>
            <td>{{ usage.third_month_sum | abs }}</td>
            <td>{{ usage.second_month_sum | abs }}</td>
            <td>{{ usage.current_month_sum | abs }}</td>

        </tr>
        {% endfor %}
        </table>

     {% endif %}

    </div>


               <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">货物列表</h4>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button id="save-modal" type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
          </div>
        </div>
      </div>
    </div>


{% endblock %}

{% block javascript %}
 <script>
      $(document).ready(function () {
        $.datepicker.setDefaults($.datepicker.regional['zh-TW']);
        $( "#from" ).datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 2,
          onClose: function( selectedDate ) {
            $( "#to" ).datepicker( "option", "minDate", selectedDate );
          }
        });
        $( "#to" ).datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 2,
          onClose: function( selectedDate ) {
            $( "#from" ).datepicker( "option", "maxDate", selectedDate );
          }
        });

        $("#query").click(function() {

         var start_date = $("#from").val();
         var end_date = $("#to").val();
         var part_no = $("#part-no").val();

         var queryParameters = {};
         var queryString = location.search.substring(1);
         var re = /([^&=]+)=([^&]*)/g;
         var m;

        // Creates a map with the query string parameters
        while (m = re.exec(queryString)) {
            queryParameters[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
        }
        delete queryParameters['startDate'];
        delete queryParameters['endDate'];
        delete queryParameters['part-no'];
        delete queryParameters['export-excel'];

        // Add new parameters or update existing ones
        if(start_date != null && start_date != "")
            queryParameters['startDate'] = start_date;
        if(end_date != null && end_date != "")
            queryParameters['endDate'] = end_date;
        if(part_no != null && part_no !="")
            queryParameters['part-no'] = part_no;

        /*
         * Replace the query portion of the URL.
         * jQuery.param() -> create a serialized representation of an array or
         *     object, suitable for use in a URL query string or Ajax request.
         */
        location.search = $.param(queryParameters);


         });

         $("#print").click(function() {

         var start_date = $("#from").val();
         var end_date = $("#to").val();
         var part_no = $("#part-no").val();

         var queryParameters = {};
         var queryString = location.search.substring(1);
         var re = /([^&=]+)=([^&]*)/g;
         var m;

        // Creates a map with the query string parameters
        while (m = re.exec(queryString)) {
            queryParameters[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
        }
        delete queryParameters['startDate'];
        delete queryParameters['endDate'];
        delete queryParameters['part-no'];
        delete queryParameters['export-excel'];

        // Add new parameters or update existing ones
        if(start_date != null && start_date != "")
            queryParameters['startDate'] = start_date;
        if(end_date != null && end_date != "")
            queryParameters['endDate'] = end_date;
        if(part_no != null && part_no !="")
            queryParameters['part-no'] = part_no;

        queryParameters['export-excel'] = 'true';

        /*
         * Replace the query portion of the URL.
         * jQuery.param() -> create a serialized representation of an array or
         *     object, suitable for use in a URL query string or Ajax request.
         */
        location.search = $.param(queryParameters);


         });

        $('#part-no').click(function(){
            $('.modal-body').load('/products/',function(result){
                $('#myModal').modal({show:true});
            });
        });

         var modal = $('#myModal');

        // Filter clicks within the modal to those on the save button (#submit-modal)
        modal.on('click', '#save-modal', function(e) {
            var placeholder = "";
            $(".selected").each(function(index, value) {
                var part_no = $(this).find(".part-no").text();
                console.log(part_no);
                if (part_no.length) {
                    $('#part-no').val(part_no);
                    placeholder = part_no;
                }
            });
            console.log(placeholder);
            $('.part-no-cell').html(placeholder);
        });


      });


 </script>
{% endblock %}
