<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {% if return_list %}
    <table>
    <tr>
        <th>id</th>
        <th>退货时间</th>
        <th>货号</th>
        <th>退货数量</th>
    </tr>`
    {% for return in return_list %}
    <tr>
        <td>{{ return.id }}</td>
        <td>{{ return.date_time}}</td>
        <td>{{ return.part_number}}</td>
        <td>{{ return.amount}}</td>
    </tr>
    {% endfor %}
    </table>

    {% else %}
    <p>暂时没有退货信息.</p>
    {% endif %}

    <form action="{% url 'Website:addReturn' %}" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="提交" />
    </form>
</body>
</html>