{% extends "base.html" %}
{% load mathfilters %}


{% block meta %}
    <title>退货情况</title>
{% endblock %}

{% block head %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}vendor/datepicker/daterangepicker-bs3.css"/>
{% endblock %}

{% block angular %}
    ng-app="Order" ng-controller="controller" ng-init="init()"
{% endblock %}


{% block content %}
     <div class="container bs-docs-container top-container">
     {% if return_list %}
        <table class="table table-bordered">
        <tr>
            <th>退货时间</th>
            <th>货号</th>
            <th>部件号</th>
            <th>退货数量</th>
        </tr>
        {% for return in return_list %}
        <tr>
            <td>{{ return.date}}</td>
            <td>{{ return.OTItem.item_no}}</td>
            <td>{{ return.OTItem.part_no}}</td>
            <td>{{ return.amount | abs }}</td>
        </tr>
        {% endfor %}
        </table>

        {% else %}
        <p>暂时没有退货数量信息</p>
        {% endif %}

    </div>
{% endblock %}

{% block javascript %}

{% endblock %}
