{% load mathfilters %}
<table class="table table-hover">
        <tr>
            <th>Part No.</th>
            <th>Size</th>
            <th>DI标准</th>
            <th>寄存数量</th>
            <th>发货总量</th>
            <th>退货总量</th>
            <th>使用总量</th>
            <th>库存</th>
            <th>需补充数量</th>
        </tr>
        {% for inventory in inventory_list %}
        <tr>
            <td>{{ inventory.part_no}}</td>
            <td>{{ inventory.size}}</td>
            <td>{{ inventory.di_standard}}</td>
            <td>{{ inventory.consignment_amount}}</td>
            <td>{{ inventory.delivery_sum | abs}} </td>
            <td>{{ inventory.return_sum | abs}} </td>
            <td>{{ inventory.usage_sum | abs}} </td>
            <td>{{ inventory.total_sum }}</td>
            {% if inventory.supplement < 0 %}
            <td style="color:red;">{{ inventory.supplement}}</td>
            {% else %}
            <td>{{ inventory.supplement}}</td>
            {% endif %}


        </tr>
        {% endfor %}
        <tr>
            <td colspan="3">总计</td>
            <td>{{ sum_dict.sum_of_consignment_amount }}</td>
            <td>{{ sum_dict.sum_of_delivery_sum}}</td>
            <td>{{ sum_dict.sum_of_return_sum}}</td>
            <td>{{ sum_dict.sum_of_usage_sum}}</td>
            <td>{{ sum_dict.sum_of_total_sum }}</td>
            {% if sum_dict.sum_of_supplement < 0 %}
            <td style="color:red;">{{ sum_dict.sum_of_supplement }}</td>
            {% else %}
            <td>{{ sum_dict.sum_of_supplement }}</td>
            {% endif %}
        </tr>
</table>
